<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        {{!-- <div class="pcoded-navigatio-lavel">Navigation</div> --}}

        <ul class="pcoded-item pcoded-left-item">
            {{!-- <li class="pcoded-hasmenu  pcoded-trigger"> --}}
            <li class="pcoded-hasmenu">
                <a href="/dashboard">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>

            </li>


            <li class="pcoded-hasmenu">
                <a href="/userlist">
                    <span class="pcoded-micon"><i class="fa fa-users "></i></span>
                    <span class="pcoded-mtext">Users</span>
                    {{!-- <span class="pcoded-badge label label-warning">NEW</span> --}}
                </a>
            </li>

            <li class="pcoded-hasmenu">
                <a href="/communitylist">
                    <span class="pcoded-micon"><i class="fas fa-object-group "></i></span>
                    <span class="pcoded-mtext">community</span>
                    {{!-- <span class="pcoded-badge label label-warning">NEW</span> --}}
                </a>

            </li>
            <li class="pcoded-hasmenu">
                <a href="/blueticklist">
                    <span class="pcoded-micon"><i class="fa fa-check-circle"></i></span>
                    <span class="pcoded-mtext">For Officials</span>
                    {{!-- <span class="pcoded-badge label label-warning">NEW</span> --}}
                </a>

            </li>

  <li class="pcoded-hasmenu">
                <a href="/emojisList">
                    <span class="pcoded-micon"><i class="fa fa-smile-o"></i></span>
                    <span class="pcoded-mtext">Imoji</span>
                    {{!-- <span class="pcoded-badge label label-warning">NEW</span> --}}
                </a>

            </li>

            <li class="pcoded-hasmenu">
                <a href="/reports">
                    <span class="pcoded-micon"><i class="fa fa-flag"></i></span>
                    <span class="pcoded-mtext">Reports</span>
                </a>

            </li>

 <li class="pcoded-hasmenu">
    <a href="javascript:void(0)">
        <span class="pcoded-micon"><i class="fa fa-gift"></i></span>
        <span class="pcoded-mtext">Rewards</span>
    </a>
    <ul class="pcoded-submenu">
        <li class=" ">
            <a href="/admin/users-rewards">
                <span class="pcoded-mtext">Users Rewards</span>
            </a>
        </li>
        <li class=" ">
            <a href="/admin/sections-rewards">
                <span class="pcoded-mtext">Section Rewards</span>
            </a>
        </li>
    </ul>
</li>

            

            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="fa fa-clone"></i></span>
                    <span class="pcoded-mtext">About</span>
                    {{!-- <span class="pcoded-badge label label-danger">100+</span> --}}
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/privacypolicy">
                            <span class="pcoded-mtext">Privacy-Policy</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/term_of_use">
                            <span class="pcoded-mtext">Term Of Use</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/community_guidlines">
                            <span class="pcoded-mtext">Community Guid Lines</span>
                        </a>
                    </li>

                      <li class=" ">
                        <a href="/getChildSafty">
                            <span class="pcoded-mtext">Child Safty</span>
                        </a>
                    </li>




                </ul>
            </li>



        </ul>

    </div>
</nav>