<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="#">
  <meta name="keywords"
    content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
  <meta name="author" content="#">

  <link rel="icon" href="/assets/images/splash_logo_CLIQK.png" type="image/x-icon" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="/assets/icon/feather/css/feather.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css" />

  <link rel="stylesheet" href="/stylesheets/style.css" />

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css" />

  <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css" />

  <link rel="stylesheet" type="text/css" href="/assets/icon/feather/css/feather.css" />

  <link rel="stylesheet" type="text/css" href="/assets/icon/font-awesome/css/font-awesome.min.css" />

  <link href="/cdn.datatables.net/1.10.20/css/jquery.dataTables.min.html" />

  <link rel="stylesheet" type="text/css"
    href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/pages/data-table/css/buttons.dataTables.min.css" />
  <link rel="stylesheet" type="text/css"
    href="/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" />
  <link rel="stylesheet" type="text/css"
    href="/assets/pages/data-table/extensions/buttons/css/buttons.dataTables.min.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css" />

  {{! dropy fy }}

  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  {{! pages }}

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  {{!-- dropy fy --}}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css"
    integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  {{!-- <style>
    img {
      display: block;
      margin-left: 150;
      margin-right: 30;

    }
  </style> --}}

  {{!-- <style>
    .dropify-wrapper .dropify-message p {
      font-size: initial;
    }

    .dropify-wrapper {
      width: 160px;
      display: inline-block;


    }

    .dropify-render {
      padding-top: 95px;
    }
  </style> --}}


  {{!-- button in list of banner --}}
  <link rel="stylesheet" type="text/css" href="/bower_components/switchery/dist/switchery.min.css">

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />

  {{!--
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> --}}
  <link rel="stylesheet" type="text/css" href="/assets/css/toggle.css">

  {{!-- admin Profile --}}
  <link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css" />

  <link rel="stylesheet" type="text/css" href="/bower_components/datedropper/datedropper.min.css" />

  <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/pages/j-pro/css/j-pro-modern.css">


</head>

<body>

  {{{body}}}

  <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>

  <script type="text/javascript" src="/bower_components/modernizr/modernizr.js"></script>

  <script type="text/javascript" src="/bower_components/chart.js/dist/Chart.js"></script>

  <script src="/assets/pages/widget/amchart/amcharts.js"></script>
  <script src="/assets/pages/widget/amchart/serial.js"></script>
  <script src="/assets/pages/widget/amchart/light.js"></script>
  <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="/assets/js/SmoothScroll.js"></script>
  <script src="/assets/js/pcoded.min.js"></script>

  <script src="/assets/js/vartical-layout.min.js"></script>
  <script type="text/javascript" src="/assets/pages/dashboard/custom-dashboard.js"></script>
  <script type="text/javascript" src="/assets/js/script.min.js"></script>

  {{! data tables }}

  <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/assets/pages/data-table/js/jszip.min.js"></script>
  <script src="/assets/pages/data-table/js/pdfmake.min.js"></script>
  <script src="/assets/pages/data-table/js/vfs_fonts.js"></script>
  <script src="/assets/pages/data-table/extensions/buttons/js/dataTables.buttons.min.js"></script>
  <script src="/assets/pages/data-table/extensions/buttons/js/buttons.flash.min.js"></script>
  <script src="/assets/pages/data-table/extensions/buttons/js/jszip.min.js"></script>
  <script src="/assets/pages/data-table/extensions/buttons/js/vfs_fonts.js"></script>
  <script src="/assets/pages/data-table/extensions/buttons/js/buttons.colVis.min.js"></script>
  <script src="/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/assets/pages/data-table/js/dataTables.bootstrap4.min.js"></script>
  <script src="/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

  <script src="/assets/pages/data-table/extensions/buttons/js/extension-btns-custom.js"></script>

  {{! icon mosque }}
  <script src="https://kit.fontawesome.com/1e3d1a23b2.js" crossorigin="anonymous"></script>



  {{!-- button in list of banner --}}
  <script type="text/javascript" src="/bower_components/switchery/dist/switchery.min.js"></script>
  <script type="text/javascript" src="/assets/pages/advance-elements/swithces.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap-maxlength/src/bootstrap-maxlength.js"></script>

  {{!--
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> --}}
  <script type="text/javascript" , src="/assets/js/toggle.js"></script>


  {{!-- admin Profile --}}
  <script src="/assets/pages/user-profile.js"></script>

  {{!--
  <script src="/assets/pages/ckeditor/ckeditor.js"></script> --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.1.3/js/dropify.min.js"
    integrity="sha512-wxJL2RnxGAn2d92YTYdRLjrgIW5fAlhVnnq35EAU7Mmkg4v93cOiPxX/RpG1CCHpoSr6VNcx++6CgQ3B3FoD9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.1.3/js/dropify.js"
    integrity="sha512-4u0OepvzpMZue38+7GD1jewtrmcVTg1gqBe/iqkWuaPWTc6MwBg1nER6/llQDoyWsCxGbxK9+CdvGzYajEBMsA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {{!-- for flash message --}}
  <script type="text/javascript">

    $(document).ready(function () {

      window.setTimeout(function () {
        $(".alert").fadeTo(300, 0).slideUp(300, function () {
          $(this).remove();
        });
      }, 3000);

    })
  </script>


  {{!-- dropy fy --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"
    integrity="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function () {
      // Basic
      $('.dropify').dropify();

      // Translated
      $('.dropify-fr').dropify({
        messages: {
          default: 'Glissez-déposez un fichier ici ou cliquez',
          replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
          remove: 'Supprimer',
          error: 'Désolé, le fichier trop volumineux'
        }
      });

      // Used events
      var drEvent = $('#input-file-events').dropify();

      drEvent.on('dropify.beforeClear', function (event, element) {
        return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
      });

      drEvent.on('dropify.afterClear', function (event, element) {
        alert('File deleted');
      });

      drEvent.on('dropify.errors', function (event, element) {
        console.log('Has Errors');
      });

      var drDestroy = $('#input-file-to-destroy').dropify();
      drDestroy = drDestroy.data('dropify')
      $('#toggleDropify').on('click', function (e) {
        e.preventDefault();
        if (drDestroy.isDropified()) {
          drDestroy.destroy();
        } else {
          drDestroy.init();
        }
      })
    });
  </script>


  {{!-- cms pages --}}

  {{!--
  <script src="https://cdn.tiny.cloud/1/7t95380vhamk13oeb0g5mkclal5wys7zyyddcwvtnlhamxud/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: '#mytextarea',
      plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
      ],
      toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    });
  </script> --}}

</body>

</html>